# <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYTmvaS79tmdtoZpqQitjyA4F6rXU5S-O8ancwNGeRdym7ja4gnA" alt="Logo estúdio hermanas">
<h1>Produto</h1>
<p>Caligrafias e bordados modernos exclusivos, das nossas mãos para as suas. ♥</p>

# <img src="https://scontent-gru2-2.xx.fbcdn.net/v/t1.0-9/17021708_190916358060015_4664344612511847412_n.png?_nc_cat=0&oh=77f3d8b2b09d45c827c96dca80fcf316&oe=5C061CA9" alt="Bordado seja flor">

# <p> O Estúdio Hermanas nasceu da vontade de duas irmãs se juntarem para fazerem o que mais amam. Juliana Mazzo é Designer e apaixonada por caligrafia e lettering. Letícia Mazzo é Arquiteta e apaixonada por desenho. O Estúdio é a união dessas nossas paixões materializadas no papel ou tecido. Todas as nossas peças são elaboradas e produzidas manualmente com muito cuidado e amor!</p>

# <img src="https://scontent-gru2-2.xx.fbcdn.net/v/t1.0-9/38747192_442226209595694_4805602520531468288_n.jpg?_nc_cat=0&oh=5d065101feb746da899d788fa1dbfc65&oe=5BF76282" alt="Bordado seja flor">